name: Check format

on:
  push:
  workflow_call:

jobs:
  format:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Use Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'
          
      - name: Clean install
        run: npm ci
      
      - name: Checks format and lint
        run: npm run fmt:check


 
