name: Npm dev publish

on:
  push:
    branches: [ main ]

jobs:
  test:
    uses: ./.github/workflows/massaStation-e2e-tests.yml
  publish-npm-dev:

    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'

      - name: Publish dev version to npm
        run: ./scripts/publish-dev.sh
        env:
          NODE_AUTH_TOKEN: ${{ secrets.npm_token }}
